.git
.github

node_modules
dist
coverage
.nyc_output

.env
.env.*
*.env
!.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/uploads
uploads

.cache
.npm
.eslintcache
*.tsbuildinfo

Dockerfile
README.md
