PORT=3000
FRONTEND_ORIGIN=*

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=change_me
DB_DATABASE=gusto_soft

JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=8h
BCRYPT_ROUNDS=10
PASSWORD_RESET_RETURN_TOKEN=false

DB_SYNC=true
DB_LOGGING=false

KDS_STALE_MINUTES=15
FACTURA_PROVIDER_URL=
