PORT=3000
NODE_ENV=development
FRONTEND_ORIGIN=https://gusto-soft.netlify.app,http://localhost:5173

DB_HOST=
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_SYNC=true
DB_LOGGING=false
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=false
DB_SSL_CA=

JWT_SECRET=
SEED_USER_PASSWORD=
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_PASSWORD=
INITIAL_ADMIN_NAME=Admin Principal

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
